<div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="surveyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="surveyModalLabel">Answer quick question</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="star-rating" class="control-label">How much did you enjoy this episode?</label><br>
           <input type="radio" name="star-rating" value="1 star">1<br>
           <input type="radio" name="star-rating" value="2 stars">2<br> 
           <input type="radio" name="star-rating" value="3 stars">3<br> 
           <input type="radio" name="star-rating" value="4 stars">4<br> 
           <input type="radio" name="star-rating" value="5 stars">5<br> 
          </div>
          <div class="form-group">
            <label for="relevant-rating" class="control-label">Was episode a reasonable recommendation?</label><br>
           <input type="radio" name="relevant-rating" value="yes">Yes<br> 
           <input type="radio" name="relevant-rating" value="no">No<br> 
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="survey-modal-submit">Submit Response</button>
      </div>
    </div>
  </div>
</div>

 <script>
  $(document).ready(function() {
    var starValue;
    var relevantRating;

    $("#dip-deeper").click(function(e) {
      e.preventDefault();
      var podcastId = <%= @podcast.id %>;
      var audio = $("#audio")[0];
    if(audio.currentTime >= 60) {
      audio.pause();
      $("#surveyModal").modal('show');
        $("input:radio[name=star-rating]").click(function() {
         starValue = $(this).val();
        console.log($("#audio")[0].currentTime);
         });
        
       $("input:radio[name=relevant-rating]").click(function() {
         relevantRating= $(this).val();
        });

      $("#survey-modal-submit").click(function() {
        $.post("/ratings", {starvalue: starValue, relevantrating: relevantRating, podcastid: podcastId}, function() {
          document.location = "<%= podcast_path(@podcast.next_similar_podcast) %>"
        })
        $("#surveyModal").modal('hide');
      })
    }
    else {
      document.location = "<%= podcast_path(@podcast.next_similar_podcast) %>"
    }
   })    
 })
</script>
