/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

audio {
  width: 400px;
}

#header {
  background-color: black;
  margin-bottom: 60px;
  padding: 50px;
}
body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 24px;
}

a {
  font-size: 16px;
}

img {
  margin-bottom: 20px;
  width: 400px;
  height: 350px;
}

#sign-up-button {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
 background-color: #00e600;
 border-radius: 5px 5px;
}

.btn.btn-primary {
  margin-top: 20px; 
    width: 20px;
}

#signin-main, #signup-main {
  margin-top: 20px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

