/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";




audio {
  width: 75%;
  margin-bottom: 0px;
}

#header {
  background-color: black;
  margin-bottom: 60px;
  padding: 50px;
}
body {
  background-color: #000000;
    font-family: 'AntennaThin';
}

p {
  font-size: 24px;
}

a {
    font-size: 16px;
    color:white;
    
}

img {
  margin-bottom: 20px;
  width: 75%;
  height: 200px;
}

#sign-up-button {

    
    font-family: 'AntennaThin';
    background-color: #006666;
    width:100%;
    margin-left: 0px;
    margin-top: 20px;
    height: 2.2em;
    padding: 0px;
  //  height: auto;
}




#signin-main, #signup-main {
  margin: 20px 0 0 0;
  width: 100%;
    
}

.btn-block {
margin-top: 0;
margin-bottom: 0;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="file"] {
  display: inline;
}




#global_box{
    
    //width:40%;
    width:27.452%; //345 px
    height:450px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-225px 0 0 -173px; 
    min-height: 450px;
    background: #009999;
    min-width: 345px;
    min-height: 450px;
        
}

.overheard-header {
    
    background-color:#ffffff;
    letter-spacing: 1em;
    text-align: center;
    margin:0px 0 0 0;
    font-family: 'AntennaBlack';
    color: #003333;
    
}

.orange-separator {
    
    background-color: #ff3333;
    height:5px;
    margin-bottom: 0px;
    margin-top:0px;
    width:100%;
}

.container-fluid {
    
    padding:0px;
    
}



/* STYLE RULES FOR MOBILE DEVICES */

@media only screen 
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: portrait),
only screen
    and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1){
        
        
    #global_box,.container-fluid{
    
    position: absolute;
    top:0%;
    left:0%;    
    width:100%;
    height:100%;
    background: #009999;
    margin:0;
    
        
    }
        
              
   div.row{
       margin-left:0;
       margin-right: 0;
   }  
        
    div.col-sm-12{
        
        padding-right: 0;
        padding-left: 0;
    }
        
        
  #background-color-change{
      height: 100%;
  }
        
        
.image-reponsive{
    
    margin-bottom: 0px;
    width: 80%;
    height: 80%;
}
        
        
        
}

@media only screen 
    and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
        
        
             
    #global_box{
    
    position: absolute;
    top:10%;
    left:10%;    
    width:80%;
    height:80%;
    background: #009999;
    margin:0;
    
        
    }
        
              
   div.row{
       margin-left:0;
       margin-right: 0;
   }  
        
    div.col-sm-12{
        
        padding-right: 0;
        padding-left: 0;
    }
        
        
  #background-color-change{
      height: 110%;
  }
        
        
.image-reponsive{
    
    margin: 12px 0px 12px 0px;
    width: 430px;
    height: 430px;
}
           
        
    }



/* STYLE RULES FOR MOBILE DEVICES */


