@font-face {
    font-family: 'AntennaBlack';
    src: url("fonts/antennablack.ttf");
}


@font-face {
    font-family:'AntennaThin';
    src:url('fonts/antennathin.ttf')
    
}

@font-face {
    font-family:'AntennaMedium';
    src: url('fonts/antennamedium.ttf')
}