/*branch dev before fucking everything up*/

/*Second test*/



a.btn.btn-primary.btn-block.btn-lg {
    
    background-color:#006666;
    font-family:'AntennaThin';
    border-radius:0px;
    border:none;
}


a.btn.btn-primary.btn-block.btn-lg:hover{
    
    background-color: #003333;
}

#mood-title {
    
    font-family:'AntennaMedium';
    margin:0;
    background-color: #003333;
    padding:3px 0 3px 0;
    color:white;
    
}


.text-center {
    
    margin-top:7px;
    
}

.contact-email {
    
    color:white;
    text-align: center;
    font-family:'AntennaThin';
    margin-top: 17px;
    
}

/*
.contact-email:hover{
    text-decoration: underline;
}
*/


.header-icon-left {
    
    
    height:40px;
    width:40px;
    float:left;
    margin:0 0 0 20px;
    
}


.header-icon-right {
    
    height:40px;
    width:40px;
    margin: 0 20px 0 0;
    
    float:right;
    padding: 2px 15px 2px 15px;
    
}

