/*branch dev before fucking everything up*/

/*Second test*/



a.btn.btn-primary.btn-block.btn-lg {
    
    background-color:#006666;
    font-family:'AntennaThin';
    border-radius:0px;
    border:none;
}


#mood-title {
    
    font-family:'AntennaMedium';
    margin:0;
    background-color: #003333;
    padding:3px 0 3px 0;
    color:white;
    
}


.text-center {
    
    margin-top:7px;
    
}

.contact-email {
    
    color:white;
    text-align: center;
    font-family:'AntennaThin';
    margin-top: 17px;
    
}
