.logo-with-name {
    
    height:170px;
    width:120px;
    
}


#user_email, #user_password {
    
    border: 1px #003333 solid;
    background-color: #006666;
    padding:0;
    color:white;
    padding-left:10px;
    font-family: 'AntennaThin';
    height: 2.2em;
    width:35%;
    margin-bottom: 2px;
}


.sign-in-button  {
    
    font-family: 'AntennaThin';
    background-color: #006666;
    width:70%;
    margin-left: 15%;
    height: 2.2em;
    padding: 0px;
    height: auto;
    
}



#simple-or-text{
    
    font-family: 'AntennaThin';
    font-size: 1.2em;
    color: white;
    margin:0px;
}

input[type="submit"]{
    
    border:0px none;
    margin-bottom: 5px;
    margin-top: 3px;
    background-color: #006666;
    color:white;
}

#button-container {
    margin-top: 18px;  
}

#white-text{
    padding-bottom: 0px;
    padding-top :-10px;
}





/* Placeholder text to white for diferent browsers */
::-webkit-input-placeholder {
    color:white;   
}

:-moz-placeholder { 
   color: white;  
}

::-moz-placeholder {  
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
/* Placeholder text to white for diferent browsers */

