.logo-with-name {
    
    height:170px;
    width:150px;
    
}


#user_email {
    
    border: 1px #003333 solid;
    background-color: #006666;
    padding:0;
    color:white;
    padding-left:10px;
    font-family: 'AntennaThin';
    height: 2.2em;
}




