
<p> ...put mood here...</p>
<p> <%= @podcast.title %></p>
<p>author: <%= @podcast.author %> </p>  
<audio src="<%= @podcast.path %>" controls>
<p>Your browser does not support the audio element </p>
</audio>

